<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/base.css">
    <link rel="stylesheet" href="styles/modules.css">
    <link rel="stylesheet" href="styles/layout.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Best Books!</title>
</head>

  <body>
      <%- include('../layout/header.ejs') %>
    <main>
      <container class="container">
      <%- include('../layout/form.ejs') %>

      <%- include('../layout/database.ejs') %>
    </container>
    </main>
  </body>
</html>