<ul>
    <% tenBooks.forEach(bookObj => { %>
    <li>Title: <%= bookObj.title %></li>
    <li><img src="<%= bookObj.image_url %>"></li>
    <li>Category: <%= bookObj.bookshelf %></li>
    <a href="/books/<%= bookObj.id %>">View Details</a>
    </form>
    <% }) %>
</ul>