<header>
  <nav>
   <ul class ="navcontainer">
     <li>Book<img src="http://www.sclance.com/pngs/reading-png/./reading_png_1141220.png"  alt="Reading Png" id = "logoimg" />Finder</li>
      <li class ="down"><a href="/new">       New Search</a></li>
      <li class ="down">Number of Saved Books: <%= tenBooks.length %></li>
    </ul>
  </nav>
 
</header>