<header>
  <nav>
    <ul>
      <li><a href="/new">New Search</a></li>
      <li><a href="/searches">Search Results</a></li>
      <li><a href="/">Database</a></li>
      <li>Number of Saved Books: <%= tenBooks.length %></li>
    </ul>
  </nav>
</header>